{% extends '::base.html.twig' %}

{% block title %} Порядок оплаты и возврата {% endblock %}
 

{% block body %}


<h1>Порядок оплаты и возврата электронного билета.</h1>


<p>Теперь билеты на речную прогулку вы можете приобрести, не выходя из дома. Вам не надо стоять в очереди в кассе для покупки билета, а достаточно иметь доступ в Интернет, банковскую карту Visa или MasterCard или любой другой электронный кошелёк. Покупка электронного билета через сайт существенно экономит ваше время и дает возможность покупки билета заранее и без дополнительных комиссий.</p> 

 <h4>Порядок оформления электронного билета через интернет-магазин:</h4> <h4>•	Оформление билета</h4> 
<p>Сделайте выбор желаемого типа рейса, даты, времени речной прогулки, тарифа и желаемого количества билетов на речную прогулку. Для комфортного пребывания на борту теплохода введено ограничение по количеству билетов в интернет-магазине на прогулочных рейсах.<br />Введите дополнительную информацию, так как она идентифицируют вас как покупателя: Ф.И.О.,паспортные данные, e-mail, мобильный телефон. <br /> <b style="text-decoration: underline;">Важно!</b> При посадке ребенка необходимо предъявлять оригинал его свидетельства о рождении.</p> <h4>•	Оплата билета</h4> 
<p>До выполнения процедуры оплаты заказа еще раз убедитесь в правильности указанной информации. Оплатите заказ через удобную форму оплаты, следуя требованиям платёжной системы.</p> <h4>•	Получение билета</h4> 
<p>После завершения покупки и оплаты билетов вы будете переведены на соответствующую страницу, где сможете распечатать <b>электронный билет</b>. А также вы получите его на e-mail, указанный при оформлении заказа, в формате PDF. Для открытия электронного билета потребуется программа Adobe Reader, установленная на Вашем компьютере.</p> 
<p> <b style="text-decoration: underline;">Важно!</b>Распечатайте электронный билет.</p> 


<h4>Общий порядок возврата билетов:</h4> 
<p>При возврате билета до отхода теплохода пассажиру возвращается 100% оплаты за проезд.<br>
Возврат платы за проезд после отхода теплохода из пункта отправления производится в следующих размерах:</p> 
<ul> 
  <li>в случае болезни, подтвержденной документами лечебного учреждения, плата за проезд и провоз багажа возвращается в полном объеме в течение трех суток со дня окончания указанного в документе лечебного учреждения периода болезни пассажира;</li> 
  <li>вследствие непреодолимой силы, то есть чрезвычайных и непредотвратимых при данных условиях обстоятельств, подтвержденных соответствующими документами компетентных органов, плата за проезд и провоз багажа возвращается в полном объеме в течение трех суток с момента окончания обстоятельств непреодолимой силы;</li> 
  <li>вследствие отмены предусмотренного расписанием отправления судна, изменения маршрута движения судна, а также в случае задержки отправления судна плата за проезд и провоз багажа возвращается в полном объеме или предоставляется равноценная замена;</li> 
  <li>при опоздании пассажира на судно билет принимается не позднее чем в течение трех часов после отправления судна в рейс. При этом пассажиру возвращается половина платы за проезд.</li> 
</ul> 
<h4>Порядок возврата электронного билета</h4> 
<p>Возврат денежных средств за электронный билет производится путём перевода на банковскую карту или электронный кошелёк, с которых была совершена покупка данного электронного билета. Возврат производится в течении 10 банковских дней. Для оформления возврата необходимо направить письмо с помошью <a href="{{path('feedback')}}">формы обратной связи</a> с просьбой о возврате денежных средств, указав в теме письма «Заявление на возврат».</p> 

<br>
<br>
{% endblock %}