{% block mainContent %}
		
		<div class="main-content">
			<p>Санкт-Петербург славится своими дворцами, музеями, архитектурными ансамблями, парками, памятниками, но невозможно представить себе этот город без широкой полноводной Невы, многочисленных рек и каналов, мостов и уникальных гранитных набережных, придающих неповторимое очарование и своеобразие облику города. Прогулки на уютных речных теплоходах позволят Вам взглянуть на город глазами его жителей.</p>
			<p><img src="{{asset('img/image.jpg')}}"></p>
			<p class="right">
				…И дивный Петергоф<br/>
				Жилище пышное героев и богов,<br/>
				Где Петр свой каждый шаг означил чудесами,<br/>
				Где море над главой, где море под ногами… <br/>
				<b>А. Воейков</b>
			</p>
			<p>Петергоф – уникальное и бесценное достояние мировой культуры. Всемирно известная столица фонтанов «Русский Версаль» основана Петром 1 в начале 18 века, как парадная летняя резиденция русских императоров. С 1918 года Петергоф был национализирован, а к 1941 году здесь открылось уже десять историко-художественных музеев. В годы войны Петергоф был практически разрушен. Реставрационные работы начались в 1944 году, в большинстве случаев реставрация означала полное воссоздание былого великолепия. Главной отличительной чертой Петергофа, принесшей ему всемирную известность, является уникальная система фонтанов. Всего в парках насчитывается 144 фонтана и 3 каскада. Кроме того, Петергоф знаменит большим количеством дворцов и музеев: Большой дворец, Монплезир, Марли, Эрмитаж, Коттедж и др. Посещение Петергофа будет незабываемым, если Вы воспользуетесь возможностью добраться до этого пригорода на быстроходном теплоходе «Метеор»..</p>
			<p>Наши «Метеоры» курсируют до Петергофа в течение всего дня с интервалом 30 минут с 10 часов утра..</p>
			<p>Причал отправления – «Эрмитаж Нижний», Дворцовая наб.39 (напротив главного входа в Эрмитаж) . .</p>
			<p>«Метеор» проходит по Малой Неве под мостами «Биржевой» и «Тучков», выходит в Финский залив и по Петровскому фарватеру движется к Нижнему парку Петродворца. .</p>
			<p>Прогулка по Неве длится всего 30 минут.
			<p>В хорошую ясную погоду с борта теплохода по пути следования можно увидеть Кронштадт, дамбу – защитное сооружение от наводнений, Стрельну – президентскую резиденцию. Величественная панорама открывается при подходе к Петергофу со стороны Финского залива. Сегодня, благодаря незабываемой красоте своих фонтанов, парков и дворцов, Петергоф стал наиболее привлекательным пригородным дворцовым ансамблем Северной столицы России. Посетив Петергоф и испытав на себе его магическое очарование, вы получите огромное эстетическое наслаждение.</p>
			<div class="zag">Наши маршруты</div>
			<table>
				<tr>
					<td><b>Маршрут</b></td>
					<td><b>Место посадки</b></td>
				</tr>
				<tr>
					<td>Санкт-Петербург – Петергоф</td>
					<td rowspan="2">Причал "Эрмитаж нижний", (Спб, Дворцовая набережная, д.39, напротив центрального входа в Эрмитаж)</td>
				</tr>
				<tr>
					<td>Санкт-Петербург – Петергоф - Санкт-Петербург</td>
				</tr>
				<tr>
					<td>Петергоф - Санкт-Петербург</td>
					<td>причал №3 и №5 в нижнем парке ГМЗ Петергоф.</td>
				</tr>
			</table>
			<div class="zag">Маршруты по предварительному заказу:</div>
			<table>
				<tr>
					<td><b>Маршрут</b></td>
					<td><b>Место посадки</b></td>
				</tr>
				<tr>
					<td>Санкт-Петербург – Петергоф</td>
					<td rowspan="2">Причал "Эрмитаж нижний", (Спб, Дворцовая набережная, д.39, напротив центрального входа в Эрмитаж)</td>
				</tr>
				<tr>
					<td>Санкт-Петербург – Петергоф - Санкт-Петербург</td>
				</tr>
				<tr>
					<td>Петергоф - Санкт-Петербург</td>
					<td>причал №3 и №5 в нижнем парке ГМЗ Петергоф.</td>
				</tr>
			</table>
			<div class="tabs">
				<ul class="tabNavigation">
					<li><a class="" href="#t1">О скоростном флоте</a></li>
					<li><a class="" href="#t2">Причалы</a></li>
					<li><a class="" href="#t3">Расписание и цены</a></li>
					<li><a class="" href="#t4">Полезная информация</a></li>
				</ul>
				<div id="t1" class="content">
					<div class="tab-zag">О скоростном флоте</div>
					<div class="text">
						<p>Скоростные теплоходы на подводных крыльях имеют три закрытых салона и используются для пассажирских перевозок, прогулок, а так же экскурсионного обслуживания в акватории реки Невы и Невской губы Финского залива.</p>
						<p>Период навигации - 01 мая по 30 сентября.</p>
						<div class="zag">Теплоход VIP-класса - "Метеор-208"</div>
						<p>На комфортабельных скоростных теплоходах VIP-класса в носовом и среднем салонах установлены вращающиеся кожаные кресла, в подлокотниках которых встроены раскладные деревянные столики. Между креслами расположены круглые столики из натурального дерева. В кормовом салоне установлены кресла повышенной комфортности.</p>
						<p>Теплоходы оборудованы системами связи, кондиционирования воздуха и шумоизоляции. Используются для пассажирских перевозок, прогулок, а также экскурсионного обслуживания в акватории реки Невы и Невской губы Финского залива.</p>
						<div class="col">
							<img src="{{asset('img/photo.jpg')}}">
						</div>
						<div class="col right">
							<img src="{{asset('img/photo.jpg')}}">
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div id="t2" class="content">
					<div class="tab-zag">Причалы</div>
					<div class="text">
						2
					</div>
				</div>
				<div id="t3" class="content">
					<div class="tab-zag">Расписание и цены</div>
					<div class="text">
						3
					</div>
				</div>
				<div id="t4" class="content">
					<div class="tab-zag">Полезная информация</div>
					<div class="text">
						4
					</div>
				</div>
			</div>
		</div>		
		
		
{% endblock %}		