{% block mainContent %}
		
		<div class="main-content">
			<div class="tabs">
				<ul class="tabNavigation">
					<li><a class="" href="#t1">О скоростном флоте</a></li>
					<li><a class="" href="#t2">Причалы</a></li>
					<li><a class="" href="#t3">Расписание и цены</a></li>
					<li><a class="" href="#t4">Полезная информация</a></li>
				</ul>
				<div id="t1" class="content">
					<div class="tab-zag">О скоростном флоте</div>
					<div class="text">		
		
			<p>Санкт-Петербург славится своими дворцами, музеями, архитектурными ансамблями, парками, памятниками, но невозможно представить себе этот город без широкой полноводной Невы, многочисленных рек и каналов, мостов и уникальных гранитных набережных, придающих неповторимое очарование и своеобразие облику города. Прогулки на уютных речных теплоходах позволят Вам взглянуть на город глазами его жителей.</p>
			<p><img src="{{asset('img/image.jpg')}}"></p>
			<p class="right">
				…И дивный Петергоф<br/>
				Жилище пышное героев и богов,<br/>
				Где Петр свой каждый шаг означил чудесами,<br/>
				Где море над главой, где море под ногами… <br/>
				<b>А. Воейков</b>
			</p>
			<p>Петергоф – уникальное и бесценное достояние мировой культуры. Всемирно известная столица фонтанов «Русский Версаль» основана Петром 1 в начале 18 века, как парадная летняя резиденция русских императоров. С 1918 года Петергоф был национализирован, а к 1941 году здесь открылось уже десять историко-художественных музеев. В годы войны Петергоф был практически разрушен. Реставрационные работы начались в 1944 году, в большинстве случаев реставрация означала полное воссоздание былого великолепия. Главной отличительной чертой Петергофа, принесшей ему всемирную известность, является уникальная система фонтанов. Всего в парках насчитывается 144 фонтана и 3 каскада. Кроме того, Петергоф знаменит большим количеством дворцов и музеев: Большой дворец, Монплезир, Марли, Эрмитаж, Коттедж и др. Посещение Петергофа будет незабываемым, если Вы воспользуетесь возможностью добраться до этого пригорода на быстроходном теплоходе «Метеор»..</p>
			<p>Наши «Метеоры» курсируют до Петергофа в течение всего дня с интервалом 30 минут с 10 часов утра..</p>
			<p>Причал отправления – «Эрмитаж Нижний», Дворцовая наб.39 (напротив главного входа в Эрмитаж) . .</p>
			<p>«Метеор» проходит по Малой Неве под мостами «Биржевой» и «Тучков», выходит в Финский залив и по Петровскому фарватеру движется к Нижнему парку Петродворца. .</p>
			<p>Прогулка по Неве длится всего 30 минут.
			<p>В хорошую ясную погоду с борта теплохода по пути следования можно увидеть Кронштадт, дамбу – защитное сооружение от наводнений, Стрельну – президентскую резиденцию. Величественная панорама открывается при подходе к Петергофу со стороны Финского залива. Сегодня, благодаря незабываемой красоте своих фонтанов, парков и дворцов, Петергоф стал наиболее привлекательным пригородным дворцовым ансамблем Северной столицы России. Посетив Петергоф и испытав на себе его магическое очарование, вы получите огромное эстетическое наслаждение.</p>
			<div class="zag">Наши маршруты</div>
			<table>
				<tr>
					<td><b>Маршрут</b></td>
					<td><b>Место посадки</b></td>
				</tr>
				<tr>
					<td>Санкт-Петербург – Петергоф</td>
					<td rowspan="2">Причал "Эрмитаж нижний", (Спб, Дворцовая набережная, д.39, напротив центрального входа в Эрмитаж)</td>
				</tr>
				<tr>
					<td>Санкт-Петербург – Петергоф - Санкт-Петербург</td>
				</tr>
				<tr>
					<td>Петергоф - Санкт-Петербург</td>
					<td>причал №3 и №5 в нижнем парке ГМЗ Петергоф.</td>
				</tr>
			</table>
			<div class="zag">Маршруты по предварительному заказу:</div>
			<table>
				<tr>
					<td><b>Маршрут</b></td>
					<td><b>Место посадки</b></td>
				</tr>
				<tr>
					<td>Санкт-Петербург – Петергоф</td>
					<td rowspan="2">Причал "Эрмитаж нижний", (Спб, Дворцовая набережная, д.39, напротив центрального входа в Эрмитаж)</td>
				</tr>
				<tr>
					<td>Санкт-Петербург – Петергоф - Санкт-Петербург</td>
				</tr>
				<tr>
					<td>Петергоф - Санкт-Петербург</td>
					<td>причал №3 и №5 в нижнем парке ГМЗ Петергоф.</td>
				</tr>
			</table>

						<p>Скоростные теплоходы на подводных крыльях имеют три закрытых салона и используются для пассажирских перевозок, прогулок, а так же экскурсионного обслуживания в акватории реки Невы и Невской губы Финского залива.</p>
						<p>Период навигации - 01 мая по 30 сентября.</p>
						<div class="zag">Теплоход VIP-класса - "Метеор-208"</div>
						<p>На комфортабельных скоростных теплоходах VIP-класса в носовом и среднем салонах установлены вращающиеся кожаные кресла, в подлокотниках которых встроены раскладные деревянные столики. Между креслами расположены круглые столики из натурального дерева. В кормовом салоне установлены кресла повышенной комфортности.</p>
						<p>Теплоходы оборудованы системами связи, кондиционирования воздуха и шумоизоляции. Используются для пассажирских перевозок, прогулок, а также экскурсионного обслуживания в акватории реки Невы и Невской губы Финского залива.</p>
						<div class="col">
							<img src="{{asset('img/photo.jpg')}}">
						</div>
						<div class="col right">
							<img src="{{asset('img/photo.jpg')}}">
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div id="t2" class="content">
					<div class="tab-zag">Причалы</div>
					<div class="text">


<h4>Причал отправления и прибытия теплоходов на реке Неве</h4> 
<p>- В г.Санкт-Петербург - "Эрмитаж нижний" (адрес: Дворцовая набережная, д.39 напротив центрального входа в Эрмитаж)</p> 
<!--
<div style="width: 58%;float: left; padding:5px;box-sizing: border-box;">
<img style="  " class="img-responsive" src="/smallfleet/ports/dvorcovaya.jpg" /> 
</div>
<div style="width: 42%;float: left;  padding:5px;box-sizing: border-box;">
<img style=" " class="img-responsive" src="/smallfleet/ports/pri.jpg" /> 
</div>

<div style="clear: both;"></div> 
-->
<img class="img-responsive" style=" margin: 10px;" src="/smallfleet/ports/prichal_shemab.jpg" />


<h4>Причал отправления и прибытия теплоходов в Петергофе</h4> 
<p>- В ГМЗ Петергоф - причал №3 и №5 в нижнем парке ГМЗ Петергоф</p> 

<img class="img-responsive" style="margin: 10px;" src="/smallfleet/ports/kassa-petergof1.jpg" />

					
					</div>
				</div>
				<div id="t3" class="content">
					<div class="tab-zag">Расписание и цены</div>
					<div class="text">

<h4>Расписание</h4> 
<p><b>Расписание движения:</b> ЕЖЕДНЕВНО в период навигации (01 мая по 30 сентября). Отправление первого рейса "Санкт-Петербург - ГМЗ «Петергоф»" в 10:00.<br />Информация о последнем рейсе из ГМЗ «Петергоф» в Санкт-Петербург размещается на кассе и уточняется в день отправления.<br /> <b>Время в пути:</b> от 30 до 60 минут. (в зависимости от погодных условий, маршрута и иных условий).<br /> <b>Интервал движения:</b> от 15 до 60 минут (по погодным условиям)<br /></p> 
<p><b>Внимание:</b> Возможны изменения в расписании! Расписание движения может изменяться в течение дня в связи с поступлением информации о неблагоприятных погодных условиях или распоряжений диспетчерских служб Администрации Морского Порта «Большой порт Санкт-Петербург». Уточненная актуальная информация о движении т/х Метеоров по телефону +7 (812) 335–17–17 и указана на кассах причалов "Эрмитаж нижний" и ГМЗ Петергоф.</p> <h4>Цены на навигацию 2017 года</h4> 
<table class="table_st_big"> 
  <tbody> 
    <tr> 
      <td rowspan="3" style="text-align: center;"><b>Категории граждан</b></td> 
      <td colspan="3" style="text-align: center;"><b>Маршрут</b></td> 
    </tr> 
    <tr> 
      <td rowspan="2" style="text-align: center;"><b>Санкт-Петербург –&nbsp;<br />			ГМЗ «Петергоф», руб. вкл. НДС</b></td> 
      <td rowspan="2" style="text-align: center;"><b>ГМЗ «Петергоф» –&nbsp;<br />			Санкт-Петербург, руб. вкл. НДС</b></td> 
      <td style="text-align: center;"><b>Санкт-Петербург –&nbsp;<br />			ГМЗ «Петергоф» –&nbsp;<br />			Санкт-Петербург ** руб. вкл. НДС</b></td> 
    </tr> 
    <tr> 
      <td style="text-align: center;">до 15:00 *</td> 
    </tr> 
    <tr> 
      <td>- взрослые</td> 
      <td style="text-align: center;">800</td> 
      <td style="text-align: center;">800</td> 
      <td style="text-align: center;">1400</td> 
    </tr> 
    <tr> 
      <td>- льготники 1 категория <br /><b>(по  предъявлении  документов)</b></td> 
      <td style="text-align: center;">600</td> 
      <td style="text-align: center;">600</td> 
      <td style="text-align: center;">1000</td> 
    </tr> 
    <tr> 
      <td>- льготники 2 категория <br /><b>(по  предъявлении  документов)</b></td> 
      <td style="text-align: center;">400</td> 
      <td style="text-align: center;">400</td> 
      <td style="text-align: center;">600</td> 
    </tr> 
    <tr> 
      <td>- дети инвалиды,&nbsp;<br />			- дети до 3-х лет&nbsp;(без предоставления отдельного места)</td> 
      <td style="text-align: center;">0</td> 
      <td style="text-align: center;">0</td> 
      <td style="text-align: center;">0</td> 
    </tr> 
  </tbody> 
</table><br /> 
<p><b>Режим работы билетных касс:</b> ежедневно с 9-00 до 18-00 (без перерыва на обед).</p><br /> 
<p>Билеты на т/х "Метеор" продаются только на текущий рейс. Приобрести билеты можно в кассах причалов "Эрмитаж нижний" и ГМЗ «Петергоф».<br />* с 15:00 билеты продаются только до ГМЗ Петергоф  в одну сторону.<br />** Билеты по оборотному маршруту "Санкт-Петербург – ГМЗ «Петергоф» – Санкт-Петербург " продаются только на причале "Эрмитаж нижний".</p> 
<p><b>Предоставляемые льготы гражданам:</b></p> 
<table class="table_st_big"> 
  <tbody> 
    <tr> 
      <td style="width: 50%;"><b>Льготники 1 категории:</b></td> 
      <td><b>Льготники 2 категории:</b></td> 
    </tr> 
    <tr> 
      <td>Школьники, студенты, пенсионеры, участники боевых действий, герои России, СССР, герои Труда; ветераны войн и труда, труженики тыла, инвалиды всех категорий, многодетные семьи, сопровождающие детей инвалидов.</td> 
      <td>Участники Великой отечественной войны, Жители блокадного Ленинграда и лица к ним приравненные, дети от 3 до 7 лет.</td> 
    </tr> 
  </tbody> 
</table><br /> 
<p><b>Внимание:</b> льготы предоставляются только при предъявлении подтверждающих документов (свидетельство о рождении, пенсионное удостоверение и пр.).</p> 
<p>Экскурсия на борту не проводится. В стоимость билета на "Метеор" не входит стоимость билета в парк ГМЗ «Петергоф». Билеты в парк ГМЗ «Петергоф» продаются на причале в ГМЗ «Петергоф». Режим работы парков и фонтанов, а также стоимость билетов в парк и дворцы на <a href="http://peterhofmuseum.ru/">официальном сайте Государственного Музея Заповедника Петергоф</a></p>					
					
					
					</div>
				</div>
				<div id="t4" class="content">
					<div class="tab-zag">Полезная информация</div>
					<div class="text">

					

<p>Компания ВодоходЪ всегда уделяет повышенное внимание безопасности перевозки пассажиров, принимая все необходимые действия для её обеспечения. 
Предлагаем Вашему вниманию учебный фильм по технике безопасности на скоростном флоте (т/х Метеор).</p> <br /> 


<style>

 .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
}
.videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}
</style>

 <div class="videoWrapper">  
   <!-- Copy & Pasted from YouTube -->
   <iframe width="560" height="349" src="https://www.youtube.com/embed/XwGMsq-bNsM" frameborder="0" allowfullscreen=""></iframe>
</div>





 <br /> 
<p>Порядок перевозок пассажиров между речными портами и отдельно стоящими причалами, расположенными в границах городской черты, на теплоходах СПК «Метеор» (проект Э-302) регулируется Правилами перевозок пассажиров и их багажа на внутреннем водном транспорте (утв. приказом Минтранса РФ от 05.05.2012 г. № 140), Правилами оказания услуг по перевозке пассажиров, багажа, грузов для личных (бытовых) нужд на внутреннем водном транспорте (утв. постановлением Правительства РФ от 06.02.2003 г. № 72)</p> <h4>Порядок продажи (возврата) билетов и осуществление посадки на теплоход</h4> 
<p><b>•	Предварительная продажа билетов</b> осуществляется только в офисе отдела внутригородского флота ООО«ВодоходЪ» посредством заключения договора и оформлением группового билета. Предварительная продажа билетов осуществляется до 15:00 суток предшествующих дате рейса.</p> 
<p><b>•	Продажа билетов на текущие</b> сутки осуществляется на дату рейса:<br />-  на рейс: Санкт-Петербург – ГМЗ «Петергоф»<br />Производится только в кассе на причале «Эрмитаж нижний» с момента открытия кассы и прекращается за 5 минут до начала рейса.</p> 
<p>-  на рейс: ГМЗ «Петергоф» – Санкт-Петербург;
Производится только в кассе на причале ГМЗ «Петергоф» с момента открытия кассы и прекращается за 10 минут до начала рейса.</p> 
<p>-  на рейс: Санкт-Петербург – ГМЗ «Петергоф» – Санкт-Петербург;
Производится только в кассе на причале «Эрмитаж нижний» с момента открытия кассы до 15:00.</p> 
<p><b>•	Порядок оформления билета:</b><br />            После оплаты пассажиру выдаётся билет и фискальный чек (в случае оплаты наличными денежными средствами или картой), в которых указано название теплохода, маршрут, цена, дата продажи.<br />            Билеты по льготному тарифу оформляются в кассовом терминале на дату рейса при предъявлении подтверждающих документов (свидетельство о рождении, пенсионное удостоверение, иные документы).<br />           С выданными документами пассажир следует на теплоход.<br />           При посадке, ответственный за посадку контролер или администратор сверяет данные, указанные в билете (дату, маршрут), отрывает контрольный корешок кассового чека, надрывает (компостирует) билет.</p> 
<p><b>Внимание:</b> билет на поездку и фискальный чек сохраняется в течение всей поездки. Он может быть затребован сотрудниками ООО«ВодоходЪ» или иными проверяющими органами, осуществляющими контроль продажи билетов и соблюдения требований посадки/высадки пассажиров во время рейса, либо по прибытии теплохода в пункт назначения.</p> 
<p><b>•	Посадка на теплоход:</b><br />- начинается за 15 минут и заканчивается за 2 минуты до отправления теплохода в рейс.</p> 
<p><b>Внимание:</b> посадка организованных групп туристов по предварительному заказу производится в первую очередь.</p> 
<p><b>Пассажир к перевозке не допускается:</b><br />- не предъявивший билет и фискальный чек;<br />- предъявивший билет и фискальный чек, но не представивший документ на право проезда по льготному тарифу.</p> 
<p>Посадка на теплоходы производится строго в соответствии с установленной пассажировместимостью.</p> 
<p><b>•	Пассажир имеет право отказаться от поездки и вернуть приобретенный билет:</b></p> 
<p>При возврате билета до отхода теплохода пассажиру возвращается плата за проезд.<br />Возврат платы за проезд после отхода теплохода из пункта отправления производится в следующих размерах:<br />- в случае болезни, подтвержденной документами лечебного учреждения, плата за проезд и провоз багажа возвращается в полном объеме в течение трех суток со дня окончания указанного в документе лечебного учреждения периода болезни пассажира;<br />- вследствие непреодолимой силы, то есть чрезвычайных и непредотвратимых при данных условиях обстоятельств, подтвержденных соответствующими документами компетентных органов, плата за проезд и провоз багажа возвращается в полном объеме в течение трех суток с момента окончания обстоятельств непреодолимой силы;<br />- вследствие отмены предусмотренного расписанием отправления судна, изменения маршрута движения судна, а также в случае задержки отправления судна плата за проезд и провоз багажа возвращается в полном объеме;<br />- при опоздании пассажира на судно билет принимается не позднее чем в течение трех часов после отправления судна в рейс. При этом пассажиру возвращается половина платы за проезд и провоз багажа.<br />Плата за оказанные услуги по доставке билета возврату не подлежит.</p> 
<p><b>Внимание:</b> возврат платы за проезд  осуществляется по предъявлению пассажиром билета и фискального чека, документа, удостоверяющего личность, свидетельства о рождении (в случае возврата детского билета), в случае болезни - документа лечебного учреждения, в случае наступления обстоятельств непреодолимой силы - документа компетентных органов.</p> <h4 style="text-align: center;">Перечень предметов и вещей, запрещенных для перевозки в виде ручной клади и багажа на пассажирских судах внутреннего водного транспорта (утв. приказом Минтранса РФ от 05.05.2012 г. № 140)</h4> 
<p><b>1) взрывчатые вещества, средства взрывания и предметы, ими начиненные:</b><br />пороха всякие, в любой упаковке и в любом количестве; патроны боевые (в том числе малокалиберные); патроны к газовому оружию; капсюли (пистоны) охотничьи;  пиротехнические средства: сигнальные и осветительные ракеты, патроны сигнальные, посадочные шашки, дымовые патроны (шашки), спички подрывника, бенгальские огни, петарды железнодорожные; тротил, динамит, тол, аммонал и другие взрывчатые вещества; капсюли-детонаторы, электродетонаторы, электровоспламенители, детонирующий и огнепроводный шнур;</p> 
<p><b>2) сжатые и сжиженные газы:</b><br />газы для бытового пользования (бутан-пропан) и другие газы; газовые баллончики с наполнением нервно-паралитического и слезоточивого воздействия;</p> 
<p><b>3) легковоспламеняющиеся жидкости:</b><br />ацетон; бензин; пробы легковоспламеняющихся нефтепродуктов; метанол; метилацетат (метиловый эфир); сероуглерод; эфиры; этилцеллозола;</p> 
<p><b>4) воспламеняющиеся твердые вещества:</b><br />вещества, подверженные самопроизвольному возгоранию; вещества, выделяющие легковоспламеняющиеся газы при взаимодействии с водой: калий, натрий, кальций металлический и их сплавы, кальций фосфористый; фосфор белый, желтый и красный и все другие вещества, относящиеся к категории воспламеняющихся твердых веществ;</p> 
<p><b>5) окисляющие вещества и органические перекиси:</b><br />нитроцеллюлоза коллоидная, в гранулах или хлопьях, сухая или влажная, содержащая менее 25% воды или растворителя; нитроцеллюлоза коллоидная, в кусках, влажная, содержащая менее 25% спирта; нитроцеллюлоза сухая или влажная, содержащая менее 30% растворителя или 20% воды;</p> 
<p><b>6) токсичные вещества;</b></p> 
<p><b>7) радиоактивные материалы;</b></p> 
<p><b>8) едкие и коррозирующие вещества:</b><br />сильные неорганические кислоты: соляная, серная, азотная; фтористо-водородная (плавиковая) кислота и другие сильные кислоты, и коррозирующие вещества;</p> 
<p><b>9) ядовитые и отравляющие вещества:</b><br />любые ядовитые сильнодействующие и отравляющие вещества в жидком или твердом состоянии, упакованные в любую тару; бруцин; никотин; стрихнин; тетрагидрофурфуриловый спирт; антифриз; тормозная жидкость; этиленгликоль; ртуть; все соли синильной кислоты и цианистые препараты; циклон, цианплав, мышьяковистый ангидрид; другие вещи (предметы), которые могут повредить или загрязнить пассажирские салоны и каюты судна, нанести вред жизни и здоровью пассажиров, а также быть использованы в качестве орудия нападения на пассажиров и экипажа судна;</p> 
<p><b>10) оружие:</b><br />пистолеты, револьверы, винтовки, карабины и другое огнестрельное, газовое, пневматическое оружие, электрошоковые устройства, кортики, стилеты, десантные штык-ножи.</p> 
<p><b>Внимание:</b> Администрация ООО «ВодоходЪ» перевозку собак, кошек, других животных и птиц на теплоходах «Метеор» запрещает. Действие настоящего пункта не распространяется на собак-проводников, обеспечивающих сопровождение инвалидов по зрению, и собак весом до трех килограммов. На судах «Метеор» перевозка багажа не осуществляется.</p> 
					
					</div>
				</div>
			</div>
		</div>		
		
		
{% endblock %}		