@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=cyrillic,cyrillic-ext');
.up {
  text-transform: uppercase;
}
.none {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.un {
  text-decoration: underline;
}
.in {
  display: inline-block;
}
.vam {
  vertical-align: middle;
}
.rel {
  position: relative;
}
.bl {
  display: block;
}
.abs {
  position: absolute;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
  overflow-x: hidden;
}
body,
th,
td {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #333333;
}
body,
form,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img,
table {
  border: none;
}
table {
  border-collapse: collapse;
}
table td {
  padding: 0;
}
a {
  color: #333333;
}
a:hover {
  text-decoration: none;
}
input,
textarea,
button,
select {
  margin: 0;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}
button:hover {
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}
section,
header,
footer,
nav,
main {
  display: block;
}
.clear {
  clear: both;
}
.wrap {
  margin: 0 auto;
  width: 1000px;
}
.div_toper {
  background-color: #A12843;
  height: 16px;
  padding-top: 5px;
  padding-right: 0px;
  /*25px*/
  padding-bottom: 4px;
  padding-left: 30px;
  /*55px*/
  color: #A12843;
}
.div_toper a {
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
}
.div_toper a:hover {
  color: #CCC;
}
.div_toper .div_phone_800 {
  float: right;
  text-align: right;
  color: #FFF;
  font-size: 11px;
  padding-right: 15px;
  margin-top: -3px;
}
.div_toper .div_phone_800 a img {
  border: 0px none #000;
}
.div_toper .div_phone_800 a {
  margin-left: 6px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
  font-size: 16px;
}
.div_toper .div_navigate {
  float: left;
  width: 268px;
  padding-top: 0px;
  margin-top: -2px;
}
.div_toper .div_navigate span {
  margin-right: 18px;
}
.div_toper .social_links {
  color: #FFF;
  font-size: 11px;
  padding-top: 0px;
}
.div_toper .social_links a {
  text-decoration: none;
  border: none 0px #fff;
  margin-left: 8px;
}
.div_toper .social_links a img {
  text-decoration: none;
  border: none 0px #fff;
  padding: 0px;
  vertical-align: -5px;
}
.header {
  padding: 5px 0;
  background: linear-gradient(to top, #9d2e4d, #ca3d45);
  background: -webkit-linear-gradient(to top, #9d2e4d, #ca3d45);
  background: -moz-linear-gradient(to top, #9d2e4d, #ca3d45);
  background: -o-linear-gradient(to top, #9d2e4d, #ca3d45);
  background: -ms-linear-gradient(to top, #9d2e4d, #ca3d45);
  color: #fff;
  margin-bottom: 15px;
}
.header .phones {
  font-size: 13px;
  float: right;
  text-align: right;
  line-height: 28px;
}
.header .phones i {
  font-style: normal;
}
.header .phones span {
  font-size: 16px;
}
.header .metro {
  font-size: 13px;
  padding-top: 5px;
}
.header .metro a {
  color: #fff;
}
.header .logo {
  padding: 20px 0 0 10px;
}
.header .logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
.header .logo a img {
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 40px;
}
.menu {
	display: table;
	width: 100%;
	margin-bottom: 15px;
}
.menu .menuli {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'PT Serif', serif;
	font-size: 16px;
	color: #fff;
	padding: 3px;
	width: 25%;
	position: relative;
}
.menu .m_1 {background: linear-gradient(to top, #354b7a, #5181cd);}
.menu .m_2 {background: linear-gradient(to top, #476702, #a6c26b);}
.menu .m_3 {background: linear-gradient(to top, #2c2a3f, #70618c);}
.menu .m_4 {background: linear-gradient(to top, #ae3e00, #e98200);}
.menu .menuli > a{
	color: #fff;
	display: block;	
}
.menu .submenu {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
}
.menu .menuli:hover .submenu {
	visibility: visible;
	opacity:1;
	transition: 0.3s;
	z-index: 100;
}
.menu .m_1 .submenu {background: #5181cd;}
.menu .m_2 .submenu {background: #a6c26b;}
.menu .m_3 .submenu {background: #70618c;}
.menu .m_4 .submenu {background: #e98200;}
.menu .submenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu .submenu ul li {
	font-size: 14px;
	color: #fff;
	padding: 7px;
}
.menu .submenu a {
	font-size: 14px;
	color: #fff;
}
.right-form {
  float: right;
  width: 226px;
  margin-bottom: 30px;
  border: 1px solid #a12845;
}
.right-form.fixed {
  position: fixed;
  right: 50%;
  margin-right: -500px;
  top: 0;
}
.right-form .zag {
  font-size: 17px;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  background: #a12845;
  font-family: 'PT Serif', serif;
}
.right-form form {
  background: #f6f5f5;
  padding: 15px;
  font-size: 13px;
  color: #676767;
}
.right-form form .radio-item {
  margin-bottom: 10px;
}
.right-form form .item {
  padding: 8px 0;
}
.right-form form .item.big {
  padding: 8px 0 16px;
}
.right-form form select,
.right-form form input[type='text'] {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #a42543;
  color: #a42543;
  font-size: 17px;
  font-family: 'PT Serif', serif;
  background: none;
  padding: 0;
}
.right-form form select.date,
.right-form form input[type='text'].date {
  background: url('../img/select.png') no-repeat right center;
}
.right-form form select:focus,
.right-form form input[type='text']:focus,
.right-form form select:hover,
.right-form form input[type='text']:hover {
  border-bottom: 1px solid #fd9f36;
}
.right-form form .col {
  float: left;
  width: 45%;
}
.right-form form .col.right {
  float: right;
}
.right-form form .right_s {
  float: right;
  width: 40px;
  padding-top: 8px;
}
.right-form form .price {
  font-family: 'PT Serif', serif;
  color: #fd9f36;
  font-size: 17px;
  margin-top: -4px;
}
.right-form form .result {
  text-align: right;
  color: #a12845;
  font-size: 17px;
  padding: 10px 0 25px;
}
.right-form form .rules {
  font-size: 13px;
}
.right-form form .rules input {
  float: left;
  margin-top: 2px;
}
.right-form form .rules label {
  margin-left: 20px;
  display: block;
}
.right-form form .rules label a {
  color: #676767;
}
.right-form form .submit {
  text-align: center;
  padding: 25px 0 15px;
}
.right-form form .submit input {
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 24px;
  background: #a12845;
  padding: 6px 50px;
  -webkit-appearance: none;
}
.right-form form .submit input:hover {
  background: #fd9f36;
  -webkit-appearance: none;
}
.main-content {
  margin-right: 240px;
}
.main-content p {
  color: #676767;
  margin-bottom: 10px;
}
.main-content p.right {
  text-align: right;
}
.main-content p img {
  max-width: 100%;
}
.main-content .zag {
  font-size: 16px;
  color: #a42543;
  padding-top: 20px;
  margin-bottom: 5px;
}
.main-content table {
  width: 100%;
}
.main-content table td {
  border: 1px solid #fd9f36;
  padding: 5px;
  vertical-align: top;
  color: #676767;
}
.tabs {
  margin: 30px 0;
  border: 1px solid #a12845;
}
.tabs .tabNavigation {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: table;
}
.tabs .tabNavigation li {
  display: table-cell;
  height: 50px;
  width: 25%;
  text-align: center;
  vertical-align: middle;
}
.tabs .tabNavigation li:nth-child(2) a {
  padding: 14px 20px;
  height: auto;
}
.tabs .tabNavigation li:last-child a {
  border-right: 0;
}
.tabs .tabNavigation li a {
  display: block;
  font-family: 'PT Serif', serif;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  background: #a12845;
  height: 100%;
  border-right: 1px solid #fff;
  padding: 0 20px;
}
.tabs .tabNavigation li a.selected {
  background: #fff;
  color: #a12845;
}
.tabs .content {
  padding: 10px;
}
.tabs .content .tab-zag {
  cursor: pointer;
  text-align: center;
  padding: 15px 10px;
  background: #a32644 url('../img/tab-zag.jpg') no-repeat center right;
  font-size: 17px;
  color: #fff;
  font-family: 'PT Serif', serif;
  margin: 0 -15px;
  margin-bottom: 10px;
  display: none;
}
.tabs .content .tab-zag.active {
  background: #f6f5f5 url('../img/tab-zag-active.jpg') no-repeat center right;
  color: #a32644;
}
.tabs .content .zag {
  padding-top: 0;
}
.tabs .content .col {
  float: left;
  width: 49%;
}
.tabs .content .col.right {
  float: right;
}
.tabs .content .col img {
  width: 100%;
}
div.info {
  clear: both;
  width: 990px;
  height: 200px;
  padding: 0 5px;
  background: url(../img/info_bg.png) repeat-x;
}
div.info img {
  float: left;
}
div.info h2 {
  margin-top: 20px;
  padding-left: 26px;
}
div.info h2 a {
  font-family: Georgia;
  font-weight: 300;
  font-size: 23px;
  color: #fff;
  padding: 20px 13px 10px;
  text-decoration: none;
}
div.info h2 a:hover {
  color: #ddd;
}
div.info ul li {
  list-style: none;
  margin: 0 0 0.5em 0;
  font-size: 90%;
}
div.info ul li a,
div.info ul li a:visited {
  color: #d2e4ff;
  text-decoration: none;
  border-bottom: 1px dotted #d2e4ff;
  font-family: 'Trebuchet MS';
  font-size: 13px;
}
div.info ul li a:hover {
  color: #ffe971;
  text-decoration: none;
  border-bottom: 1px dotted #ffe971;
}
div.infomenu {
  overflow: hidden;
}
div.infomenu table {
  padding-left: 1.6em;
}
.payment-page {
  padding-bottom: 50px;
}
.payment-page .list .col {
  float: left;
  width: 48%;
  margin-bottom: 30px;
}
.payment-page .list .col:nth-child(2) {
  margin: 0 2% 30px 2%;
}
h1 {
  text-align: center;
  color: #a42543;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 400;
}
.order-info {
  background: linear-gradient(to top, #9d2e4d, #ca3d45);
  background: -webkit-linear-gradient(to top, #9d2e4d, #ca3d45);
  background: -moz-linear-gradient(to top, #9d2e4d, #ca3d45);
  background: -o-linear-gradient(to top, #9d2e4d, #ca3d45);
  background: -ms-linear-gradient(to top, #9d2e4d, #ca3d45);
  padding: 20px 30px;
  color: #fff;
  font-size: 13px;
}
.order-info .zag {
  font-family: 'PT Serif', serif;
  font-size: 17px;
  color: #fff;
  text-align: Center;
  margin-bottom: 30px;
}
.order-info .item {
  margin-bottom: 20px;
}
.order-info .item span {
  display: block;
  font-family: 'PT Serif', serif;
  font-size: 17px;
  color: #fd9f36;
}
.order-info .peoples {
  padding: 20px 0 40px;
}
.order-info .peoples span {
  float: right;
  font-size: 17px;
  color: #fd9f36;
  margin-top: -3px;
  font-family: 'PT Serif', serif;
}
.order-info .peoples span span {
  float: none;
  margin-right: 20px;
}
.order-info .result {
  text-align: right;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  margin-bottom: 20px;
}
.order-info .bottom-link {
  color: #fff;
  text-decoration: none;
}
.order-form .zag {
  font-size: 17px;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  background: #a12845;
  font-family: 'PT Serif', serif;
}
.order-form form {
  background: #f6f5f5;
  padding: 15px 30px;
  font-size: 13px;
  color: #676767;
}
.order-form form input[type='text'],.order-form form input[type='email'],.order-form form input[type='phone'] {
  width: 100%;
  margin: 5px 0 12px;
  background: none;
  border: 0;
  border-bottom: 1px solid #a12845;
  color: #fd9f36;
  font-size: 17px;
  font-family: 'PT Serif', serif;
}
.order-form form input[type='text']:focus, .order-form form input[type='email']:focus, .order-form form input[type='phone']:focus {
  border-bottom: 2px solid #fd9f36;
}
.order-form form .radio-item {
  margin-bottom: 15px;
}
.order-form form .submit {
  text-align: center;
  padding: 10px 0;
}
.order-form form .submit input {
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 24px;
  background: #a12845;
  padding: 6px 50px;
}
.order-form form .submit input:hover {
  background: #fd9f36;
}
@media (min-width: 720px) {
  .tabs .content .text {
    display: block!important;
  }
}
@media (max-width: 1020px) {
  .wrap {
    width: 700px;
  }
  .div_toper .div_navigate {
    width: 115px;
  }
  .div_toper .div_navigate span {
    margin-right: 10px;
  }
  .div_toper .div_navigate span:nth-child(2) {
    margin-left: 0px!important;
    margin-right: 0;
  }
  .div_toper .social_links a img {
    margin-left: -3px;
  }
  .header .metro {
    font-size: 12px;
  }
  .header .logo a {
    font-size: 18px;
  }
  .tabs .tabNavigation li a {
    font-size: 14px;
    padding: 0 10px;
  }
  .tabs .tabNavigation li:nth-child(2) a {
    padding: 16px 10px;
  }
  div.info img {
    width: 360px;
    margin-top: 30px;
  }
  div.info {
    width: auto;
  }
  .order-info {
    padding: 15px 20px;
  }
  .order-form form {
    padding: 15px 20px;
  }
  .order-info .peoples span {
    font-size: 15px;
  }
  .order-info .peoples span span {
    margin-right: 10px;
  }
  .right-form.fixed {
    margin-right: -350px;
  }
}
@media (max-width: 720px) {
  .wrap {
    width: auto;
    padding: 0 15px;
  }
  .div_toper {
    display: none;
  }
  .header {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .header .metro {
    display: none;
  }
  .header .logo {
    padding: 0;
  }
  .header .logo a {
    font-size: 0;
  }
  .header .logo a img {
    margin: 0;
  }
  .header .phones {
    font-size: 0;
    height: 30px;
  }
  .header .phones span {
    font-size: 0;
  }
  .header .phones .main {
    font-size: 13px;
  }
  .header .phones .main span {
    font-size: 16px;
  }
  .right-form {
    float: none;
    width: auto;
  }
  .main-content {
    margin: 0;
  }
  .right-form form .radio-item {
    float: left;
  }
  .right-form form .radio-item.right {
    float: right;
  }
  .right-form form .result {
    text-align: center;
  }
  .main-content .zag {
    text-align: center;
  }
  .tabs {
    border: 0;
  }
  .tabs .tabNavigation {
    display: none;
  }
  .tabs .content {
    display: block!important;
    padding: 0;
  }
  .tabs .content .tab-zag {
    display: block;
  }
  .tabs .content .text {
    display: none;
    padding-bottom: 20px;
  }
  .tabs .content .col {
    float: none!important;
    width: auto;
    margin-bottom: 10px;
  }
  div.info img {
    display: none;
  }
  div.infomenu table {
    padding: 0;
  }
  div.infomenu table ul {
    padding: 10px;
  }
  div.info h2 {
    padding: 0;
  }
  .payment-page .list .col {
    float: none;
    width: auto;
    margin: 0 0 30px 0!important;
  }
  .right-form.fixed {
    position: relative;
    top: auto;
    right: auto;
    margin-right: 0;
  }
  .menu .menuli {
	  font-size: 14px;
  }
  .menu .menuli .submenu {
	  display: none;
  }
}
@media (max-width: 450px) {
  .wrap {
    width: auto;
    padding: 0 5px;
  }
  .menu {
	  display: block;
  }
  .menu .menuli {
	  display: block;
	  width: 48%;
	  float: left;
	  font-size: 14px;
  }
}
.radio {
  vertical-align: top;
  width: 13px;
  height: 13px;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 20px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: url('../img/radio.png');
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: url('../img/radio-active.png');
  transition: all .2s;
  opacity: 0;
}
.radio:checked + label:after {
  opacity: 1;
}
select,
.selectBox {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-family: Verdana;
  font-size: 17px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #a42543;
  color: #a42543;
  font-family: 'PT Serif', serif;
  text-decoration: none;
  background: none;
}
select.selectBox-menuShowing,
.selectBox.selectBox-menuShowing {
  border-bottom: 1px solid #fd9f36;
}
.selectBox:hover {
  color: #a42543;
  text-decoration: none;
  border-bottom: 1px solid #fd9f36;
}
.selectBox-label {
  padding: 0 15px 0 2px;
}
.selectBox-arrow {
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: url('../img/select.png') no-repeat center;
  overflow: hidden;
  cursor: pointer;
}
.selectBox-dropdown-menu {
  position: absolute;
  list-style: none;
  margin: 1px 0 0 0;
  padding: 10px 0;
  background: #fff;
  box-shadow: rgba(1, 1, 1, 0.1) 0 3px 9px;
}
.selectBox-dropdown-menu li {
  display: block;
  padding: 0 10px;
  border-bottom: 1px solid #fff;
  text-align: center;
}
.selectBox-dropdown-menu li a {
  display: block;
  padding: 5px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  background: #f6f5f5;
}
.selectBox-dropdown-menu li a:hover {
  color: #fff;
  text-decoration: none;
  background: #fd9f36;
}
.ui-widget.ui-widget-content {
  border: 0!important;
  padding: 0;
  box-shadow: rgba(1, 1, 1, 0.2) 0 9px 18px;
}
.ui-datepicker .ui-datepicker-header {
  background: none;
  color: #a42543;
  border: 0;
  font-family: 'PT Serif', serif;
  font-size: 17px;
  margin: -2px 0 -10px;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  border: 0!important;
  background: #f6f5f5!important;
  text-align: center!important;
  padding: 1px 0;
  font-size: 13px;
}
.ui-datepicker td {
  padding: 0;
}
.ui-state-active,
.ui-widget-content .ui-state-active {
  background: #fd9f36!important;
  color: #fff;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  background: #f6f5f5!important;
  color: #ccc!important;
}
.ui-datepicker th {
  font-weight: 400!important;
  font-size: 13px;
  color: #ccc;
}
.ui-datepicker th.ui-datepicker-week-end {
  color: #d093a2;
}
#ui-datepicker-div {
  width: 196px;
  border-radius: 0;
}
.ui-datepicker table {
  width: 84%!important;
  margin: 0 8% 15px 8%!important;
}
.ui-datepicker .ui-datepicker-prev {
  background: url('../img/prev.jpg') no-repeat center !important;
  border: 0!important;
  left: 2px!important;
  top: 2px!important;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-next {
  background: url('../img/next.jpg') no-repeat center !important;
  border: 0!important;
  right: 2px!important;
  top: 2px!important;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: none!important;
}



.table-order-info {
	width:100%;
}
.table-order-info  td {
	color:#fff;
	padding: 3px;
}