{% extends '::base.html.twig' %}

{% block body %}

<br>
<p>Заказ №{{order.id}} успешно оплачен</p>
<br>
<p>Электронный билет выслан на электронную почту {{order.email}}</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}